header {
    background-color: rgb(89, 101, 114);
    width: 100%;
    text-align: center;

}

/* For the previous search buttons */
a.prev-search-btn {
    background-color: rgba(277, 113, 85, 0.7);
}

aside {
    background-color: lightgrey;
}

div.current {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

div.tile.current-heading {
    max-height: 80px;
    display: flex;
}

h2.city-date {
    max-height: 50px;
}

/* Forecast elements */
/* Parent forecast-block */
div.tile.is-parent.forecast-block {
    max-height: 160px;
}

div.forcast {
    padding: 10px;
    background-color: rgb(243, 241, 241);
}

/* Forecast temp annd humidity */
div.forecast-text {
    margin-top: 10px;
}

/* for the UV index span, use to change colors depending on the index */
/* 0-2 is low - green */
span.uvlow {
    background-color: green;
    color: white;
}

/* 3-5 is moderate - yellow */
span.uvmoderate {
    background-color: yellow;
}

/* 6-7 is high - orange */
span.uvhigh {
    background-color: orange;
}

/* 8-10 is very high - red */
span.uvVeryhigh {
    background-color: red;
}

/* 11+ is extreme - purple */
span.uvextreme {
    background-color: purple;
    color: white;
}

/* For forecast */
/* To hide the tempalte tile */
div.hiddenTemplate {
    display: none;
}

div.tile.is-parent.forecast-block {
    margin: -7px;
    max-width: 30%;
}

/* For each of the 5 individual tiles */
div.forecast {
    color: white;
    background-color: rgb(93, 121, 197);
    border-radius: 4px;
    padding: 5px;
    min-width: 95px;
}

p.forecast-temp, .forecast-humidity {
    font-size: 13px;
}

/* For the icons */
/* Current weather */
div.icon {
    justify-content: end;
}

img#weather-icon {
    max-width: 3rem;
    max-height: 3rem;
    margin-bottom: 20px;
    margin-left: 20px;
}

/* Forecast */
img#forecast-icon {
    max-width: 2.5rem;
    padding-bottom: 10px;
}

/* For when the screen is below 480px (mobile)*/
@media only screen and (max-width: 480px) {
    main {
        padding: 0;
    }
    /* For the current weather section */
    h2.subtitle.city-date {
        margin-bottom: 25px;
    }
    div.tile.current-heading {
        /* max-height: 100px; */
        display: block;
    }
    h3.subtitle.is-5 {
        padding-left: 15px;
    }
    div.tile.current-details {
        margin-top: 45px;
    }

    /* For the forecast section */
    div.tile.is-parent.forecast-block {
        margin: auto;
        max-width: 100%;
    }
}

@media only screen and (max-width:768px) and (min-width: 481px) {
    div.tile.forecast-container {
        display: flex;
    }
}